## Include overrides

# WoW .toc
ItemRollTracker/*.toc linguist-detectable

# WoW UI XML
ItemRollTracker/*.xml linguist-detectable

## Vendored code

# WoW FrameXML code
FrameXML/* linguist-vendored

# External addon libraries
ItemRollTracker/Libs/* linguist-vendored
