## Include overrides

# WoW .toc
*.toc linguist-detectable

# WoW UI XML
*.xml linguist-detectable

## Vendored code

# WoW FrameXML code
FrameXML/* linguist-vendored

# External addon libraries
libs/* linguist-vendored
